/* Fonts */

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  src:
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;
  src:
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;
  src:
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

/* Variables */

:root {
  --primary-text: #ffffff;
  --secondary-text: #323232;
  --alternative-text: #5a5a5a;
  --unimportant-text: #ababab;
  --text-shadow: rgba(49, 50, 53, 0.5);
  --bg-body-first: #849d8f;
  --bg-body-second: #8996a6;
  --bg-body-third: #9d8b84;
  --bg-base: #ffffff;
  --bg-secondary: #f8f7f4;
  --bg-alternative: #fefefe;
  --bg-pic-waffle: #ede1ca;
  --bg-pic-raspberry: #6c061e;
  --bg-pic-chocolate: #4c2b15;
  --bg-pic-map: #ede6c9;
  --bg-decor: rgba(255, 255, 255, 0.2);
  --bg-decor-alt: rgba(0, 0, 0, 0.07);
  --link-hover: #ffbc9e;
  --link-alt-hover: #e84d37;
  --link-und-hover: rgba(255, 188, 158, 0.3);
  --link-alt-und-hover: rgba(232, 77, 55, 0.3);
  --bg-link-hover: #ededed;
  --bg-link-current: #d07058;
  --link-shadow: #696969;
  --drop-link-hover: #fbded7;
  --drop-link-active: #f6b5a5;
  --drop-link-accent: rgba(50, 50, 50, 0.2);
  --drop-shadow: rgba(0, 0, 0, 0.4);
  --btn-grad-start: #f26843;
  --btn-grad-end: #e74a35;
  --btn-shadow: rgba(172, 16, 0, 0.64);
  --btn-shadow-hover: #ac1000;
  --btn-shadow-active: #942718;
  --btn-text-shadow: rgba(160, 32, 11, 0.76);
  --input-border: rgba(178, 178, 178, 0.52);
  --input-border-focus: rgba(46, 136, 228, 0.52);
  --slider-bg-decor: rgba(215, 242, 227, 0.75);
  --slider-toggle-hover: rgba(255, 255, 255, 0.4);
  --cart-icon: #343434;
  --placeholder: #999999;
  --bg-card-decor: rgba(0, 0, 0, 0.2);
  --scale-bg: rgba(248, 247, 244, 0.5);
  --border-decor: #cacac7;
  --overlay: rgba(0, 0, 0, 0.3);
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0;

  color: var(--primary-text);
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  line-height: 22px;

  background-color: var(--bg-body-first);
}

.bg1 {
  background-color: var(--bg-body-first);
}

.bg2 {
  background-color: var(--bg-body-second);
}

.bg3 {
  background-color: var(--bg-body-third);
}

a {
  text-decoration: underline var(--bg-decor);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Button */

.button {
  display: inline-block;
  padding: 12px 22px;
  border: none;
  border-radius: 70px;

  color: var(--primary-text);
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 2px 5px var(--btn-text-shadow);
  vertical-align: middle;

  background-image: linear-gradient(180deg, var(--btn-grad-start) 0%, var(--btn-grad-end) 100%);
  box-shadow: 0 2px 2px var(--btn-shadow);
  cursor: pointer;
}

.button-slider {
  margin-left: -15px;
  padding: 9px 23px;

  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
}

.button-good {
  padding: 10px 16px;
}

.button:hover {
  background-image:
    linear-gradient(0deg, var(--bg-decor), var(--bg-decor)),
    linear-gradient(180deg, var(--btn-grad-start) 0%, var(--btn-grad-end) 100%);
  box-shadow: 0 2px 2px var(--btn-shadow-hover);
}

.button:active {
  background-image:
    linear-gradient(0deg, var(--bg-decor-alt), var(--bg-decor-alt)),
    linear-gradient(180deg, var(--btn-grad-start) 0%, var(--btn-grad-end) 100%);
  box-shadow: inset 0 2px 2px var(--btn-shadow-active);
}

/* Link */

.link:hover {
  color: var(--link-hover);
  text-decoration: underline var(--link-und-hover);
}

.link-alt:hover {
  color: var(--link-alt-hover);
  text-decoration: underline var(--link-alt-und-hover);
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

/* Header */

.page-header {
  z-index: 10;

  margin-bottom: -41px;
  padding-top: 8px;

  pointer-events: none;
}

.page-header * {
  pointer-events: auto;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.main-header-logo {
  flex-shrink: 0;
  margin-right: 12px;
}

.main-header-logo img {
  width: 154px;
  height: 64px;

  vertical-align: bottom;
}

.site-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 0 0;
  padding: 0 0 5px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  list-style: none;
}

.site-navigation-item:not(:last-child) {
  margin-right: 6px;
}

.site-navigation-item-dropdown {
  position: relative;
}

.site-navigation-link {
  display: inline-block;
  padding: 7px 13px;
  border-radius: 26px;

  color: var(--primary-text);
  vertical-align: middle;
}

.site-navigation-link:hover {
  color: var(--secondary-text);

  background-color: var(--bg-base);
}

.site-navigation-link:active {
  background-color: var(--bg-link-hover);
  box-shadow: inset 0 2px 1px var(--link-shadow);
}

.site-navigation-link-current {
  color: var(--primary-text);
  text-decoration: none;

  background-color: var(--bg-link-current);
}

.catalog-dropdown-list {
  position: absolute;
  top: 41px;
  left: -9px;
  z-index: 10;

  display: none;
  min-width: 143px;
  padding: 0 0 8px;
  border-radius: 4px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  list-style: none;
  background-color: var(--bg-base);
  box-shadow: 0 20px 20px var(--drop-shadow);
}

.site-navigation-item-dropdown:hover .catalog-dropdown-list,
.site-navigation-item-dropdown:focus-within .catalog-dropdown-list {
  display: block;
}

.site-navigation-item-dropdown:hover .site-navigation-link {
  color: var(--secondary-text);

  background-color: var(--bg-base);
}

.site-navigation-item-dropdown::before {
  position: absolute;
  bottom: -10px;

  display: block;
  width: 100%;
  height: 15px;

  background-color: transparent;

  content: "";
}

.catalog-dropdown-link {
  display: block;
  padding: 7px 20px;

  color: var(--secondary-text);
  text-decoration: none;
}

.catalog-dropdown-link:hover {
  color: var(--secondary-text);

  background-color: var(--drop-link-hover);
}

.catalog-dropdown-link:active {
  background-color: var(--drop-link-active);
}

.catalog-dropdown-link-current {
  color: var(--primary-text);

  background-color: var(--bg-link-current);
}

.catalog-dropdown-link-accent {
  position: relative;

  margin-bottom: 5px;
  padding: 10px 20px;

  font-weight: 700;
  line-height: 18px;
}

.catalog-dropdown-link-accent::before {
  position: absolute;
  bottom: 0;
  left: 6px;

  width: 128px;
  height: 1px;

  background-color: var(--drop-link-accent);

  content: "";
}

.user-navigation {
  display: flex;
  margin: 0 0 0 50px;
  padding: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.user-navigation-item {
  position: relative;
}

.user-navigation-item:not(:last-child) {
  margin-right: 10px;
}

.user-navigation-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  border-radius: 20px;

  color: var(--primary-text);
  text-decoration: none;

  background-color: var(--bg-decor);
}

.user-navigation-link-no-text {
  padding: 8px;
}

.user-navigation-link:hover,
.user-navigation-item:hover .user-navigation-link {
  color: var(--secondary-text);

  background-color: var(--bg-base);
}

.user-navigation-link span {
  margin-left: 8px;
}

.user-navigation-link:hover path,
.user-navigation-item:hover path {
  fill: var(--secondary-text);
}

.cart-link-empty .cart-icon,
.cart-link-empty:hover .cart-icon {
  fill: none;
}

.cart-link-filled {
  color: var(--secondary-text);

  background-color: var(--bg-base);
}

.cart-link-filled path {
  fill: var(--cart-icon);
}

.cart-link-filled .cart-icon,
.cart-link-filled:hover .cart-icon,
.user-navigation-item:hover .cart-icon {
  fill: var(--link-alt-hover);
}

.user-navigation-dropdown {
  position: absolute;
  top: 35px;
  right: 1px;
  z-index: 5;

  display: none;
  padding: 20px 15px;
  border-radius: 4px;

  background-color: var(--bg-secondary);
  box-shadow: 0 20px 20px var(--drop-shadow);
}

.user-navigation-dropdown input {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
}

.user-navigation-dropdown input:hover {
  padding: 11px;
  border: 2px solid var(--input-border);
}

.user-navigation-dropdown input:focus {
  padding: 11px;
  border: 2px solid var(--input-border-focus);

  outline: none;
}

.user-navigation-item:hover .user-navigation-dropdown,
.user-navigation-item:focus-within .user-navigation-dropdown {
  display: block;
}

.user-navigation-item::before {
  position: absolute;
  bottom: -3px;

  display: block;
  width: 100%;
  height: 10px;

  background-color: transparent;

  content: "";
}

.search-form {
  width: 341px;
}

.login-form {
  width: 277px;
}

.login-form-item {
  margin: 0 0 20px;
}

.login-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-form-button {
  padding: 10px 26px;
}

.login-form-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.login-form-link {
  color: var(--secondary-text);
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-decoration: underline;
}

.login-form-link:not(:last-child) {
  margin-bottom: 5px;
}

/* Cart */

.cart {
  min-width: 539px;
  padding-top: 17px;
  padding-left: 19px;

  color: var(--secondary-text);
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  background-color: var(--bg-secondary);
}

.cart-table {
  border-bottom: 1px solid var(--border-decor);
}

.cart-table td {
  padding-bottom: 18px;
}

.cart-remove-cell {
  vertical-align: baseline;
}

.cart-remove {
  width: 11px;
  height: 11px;
  padding: 0;
  border: none;

  background-color: transparent;
  background-image: url("../img/icons/cart-cross-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-product-image-cell {
  width: 45px;
  padding: 0 6px;
}

.cart-product-image {
  width: 33px;
  border-radius: 50%;

  vertical-align: bottom;
}

.cart-product-name-cell {
  width: 240px;
  padding: 8px 5px;
}

.cart-product-price-cell {
  width: 120px;
  padding: 0 10px;
}

.cart-product-price {
  color: var(--unimportant-text);
}

.cart-product-total-price-cell {
  padding: 0 10px;
}

.cart-total {
  margin-top: 10px;
  margin-bottom: 17px;

  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  text-align: right;
}

.cart-button {
  display: block;
  margin-left: auto;
  padding: 10px 14px;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 200px;
  margin: 0 0 0 auto;
  padding-top: 3px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: end;
}

.header-contacts span {
  margin-bottom: 7px;
}

.header-contacts-tel {
  color: var(--primary-text);
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
}

/* Slider */

.slider {
  position: relative;

  margin-top: -82px;
  margin-bottom: -19px;
  padding-top: 83px;

  background-image:
    radial-gradient(
      circle at center,
      var(--slider-bg-decor) 0,
      transparent 358px
    );
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  justify-items: center;
}

.slider-current {
  display: grid;
}

.slider-title {
  z-index: 2;

  grid-row: 2 / 3;
  grid-column: 1 / 2;
  width: 680px;
  margin: 310px 0 28px;

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.slider-image {
  z-index: 1;

  grid-row: 1 / 4;
  grid-column: 1 / 2;
  width: 647px;
  height: 584px;
}

.slider-button {
  z-index: 3;

  grid-row: 3 / 4;
  grid-column: 1 / 2;
  margin-bottom: 60px;
}

.slider-control-list {
  position: absolute;
  bottom: 82px;
  left: 0;

  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-control-item:not(:last-child) {
  margin-right: 8px;
}

.slider-toggle {
  width: 21px;
  height: 21px;
  padding: 0;
  border: 2px solid var(--bg-base);
  border-radius: 50%;

  background-color: transparent;
}

.slider-toggle:hover {
  background-color: var(--slider-toggle-hover);
  cursor: pointer;
}

.slider-toggle:active {
  background-color: var(--bg-base);
}

.slider-toggle-current {
  background-color: var(--bg-base);
}

/* Promotions */

.promotions {
  position: relative;
  z-index: 10;

  margin-bottom: 40px;
}

.promotions-list {
  display: grid;
  grid-column-gap: 26px;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;

  list-style: none;
}

.promotion-item {
  display: flex;
  flex-direction: column;
  padding: 14px 22px 22px 16px;
  border-radius: 16px;
}

.promotion-item-raspberry {
  background-color: var(--bg-pic-raspberry);
  background-image: url("../img/raspberry-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promotion-item-chocolate {
  background-color: var(--bg-pic-chocolate);
  background-image: url("../img/chocolate-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promotion-title {
  margin: 0 0 17px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.promotion-description {
  margin: 0 0 43px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.promotion-button {
  margin-left: auto;
}

/* Hits */

.hits {
  margin-bottom: 42px;
}

.catalog {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 40px;
  padding-bottom: 30px;
}

.product-list {
  display: grid;
  grid-row-gap: 37px;
  grid-column-gap: 26px;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-item {
  position: relative;

  display: flex;
  flex-direction: column;
}

.product-item:hover,
.product-item:focus-within {
  z-index: 1;
}

.product-item:hover::after,
.product-item:focus-within::after {
  position: absolute;
  top: -6px;
  right: -13px;
  bottom: -73px;
  left: -13px;
  z-index: -1;

  border-radius: 4px;

  background-color: var(--bg-base);
  box-shadow: 0 20px 20px var(--bg-card-decor);
  opacity: 0.2;

  content: "";
}

.product-item-hit::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background-image: url("../img/icons/hit-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  content: "";
}

.product-item-title {
  order: 3;
  margin: 0;
  padding: 0 5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.product-title-link {
  color: var(--primary-text);
}

.product-item-image {
  order: 1;
  width: 267px;
  height: 267px;
  margin-bottom: -60px;
  border-radius: 50%;
}

.product-item-price {
  order: 2;
  margin: 0 0 26px;

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0 1px 3px var(--text-shadow);
}

.product-item-button {
  position: absolute;
  bottom: -52px;

  display: none;
  align-self: center;
  order: 4;
}

.product-item:hover .product-item-button,
.product-item:focus-within .product-item-button {
  display: block;
}

.product-item-weight {
  font-size: 30px;
  line-height: 35px;
}

/* Advantages */

.advantages {
  margin-bottom: 40px;
  padding: 24px 25px 30px 20px;
  border-radius: 16px;

  color: var(--secondary-text);

  background-color: var(--bg-pic-waffle);
  background-image: url("../img/waffle-pattern-bg.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

.advantages-lead {
  margin: 0 0 16px;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.advantages-list {
  display: grid;
  grid-row-gap: 22px;
  grid-column-gap: 27px;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages-item {
  position: relative;

  padding-left: 55px;
}

.advantages-item::before {
  position: absolute;
  top: -10px;
  left: 0;

  width: 49px;
  height: 49px;

  background-repeat: no-repeat;
  background-position: 0 0;

  content: "";
}

.icon-ice-cream::before {
  background-image: url("../img/icons/ice-cream-icon.svg");
}

.icon-cow::before {
  background-image: url("../img/icons/cow-icon.svg");
}

.icon-leaf::before {
  background-image: url("../img/icons/leaf-icon.svg");
}

.icon-thermometer::before {
  background-image: url("../img/icons/thermometer-icon.svg");
}

.advantages-item p {
  margin: 0;
}

/* Banners */

.banners {
  display: grid;
  grid-column-gap: 26px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
}

/* Blog preview */

.blog-preview {
  padding: 18px 20px;
  border-radius: 16px;

  color: var(--secondary-text);

  background-color: var(--bg-base);
  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blog-preview-lead {
  margin: 0 0 2px;

  font-weight: 500;
}

.blog-preview-excerpt {
  width: 290px;

  color: var(--secondary-text);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
}

/* Mail subscription */

.mail-subscription {
  padding: 5px;
  border-radius: 16px;

  background-image: url("../img/mail-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mail-subscription-wrapper {
  padding: 24px 20px 36px;
  border-radius: 16px;

  background-color: var(--bg-secondary);
}

.mail-subscription-info {
  margin: 0 0 40px;

  color: var(--alternative-text);
}

.mail-subscription-form {
  display: flex;
}

.mail-subscription-input {
  flex-grow: 1;
  padding: 5px 14px;
  border: 1px solid var(--input-border);
  border-radius: 6px;

  font-size: 16px;
  line-height: 24px;
}

.mail-subscription-input::placeholder {
  color: var(--placeholder);
}

.mail-subscription-button {
  margin-left: 10px;
  padding: 10px 20px;
}

/* Map */

.map {
  position: relative;

  min-height: 430px;
}

.map-interactive {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 430px;
  border: none;
}

.map .container {
  position: relative;

  padding-top: 60px;

  pointer-events: none;
}

.map-picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 1200px;
  height: 430px;

  vertical-align: bottom;

  background-color: var(--bg-pic-map);
}

.map-contacts {
  width: 303px;
  margin-left: auto;
  padding: 29px 25px;
  border-radius: 16px;

  color: var(--secondary-text);
  font-size: 14px;
  line-height: 20px;

  background-color: var(--bg-alternative);

  pointer-events: auto;
}

.map-contacts-caption {
  margin: 0;
}

.map-contacts-address {
  margin: 0 0 22px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.map-contacts-phone {
  margin: 0 0 29px;
}

.map-contacts-phone-number {
  color: var(--secondary-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.map-contacts-button {
  padding: 10px 28px;
}

/* Footer */

.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}

.page-catalog .page-footer {
  border-top: 1px solid var(--bg-decor);
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-item:not(:last-child) {
  margin-right: 8px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}

.social-icon-outline {
  opacity: 0.5;
}

.social-link:hover .social-icon-outline {
  opacity: 0.5;
}

.social-link:active .social-icon-outline {
  opacity: 0.7;
}

.social-icon-pic {
  opacity: 0.8;
}

.social-link:hover .social-icon-pic {
  opacity: 1;
}

.social-link:active .social-icon-pic {
  opacity: 1;
}

.footer-info {
  padding-top: 10px;
}

.footer-info-list {
  display: grid;
  grid-column-gap: 32px;
  grid-template-columns: auto auto;
  margin: 0;
  padding: 0 0 0 22px;

  font-size: 13px;
  line-height: 18px;

  list-style: none;
}

.footer-info-item {
  margin-bottom: 5px;
}

.footer-info-link {
  color: var(--primary-text);
}

.footer-info-item-favorites {
  position: relative;

  font-weight: 700;
}

.footer-info-item-favorites::before {
  position: absolute;
  top: 5px;
  left: -20px;

  width: 15px;
  height: 13px;

  background-image: url("../img/icons/heart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  content: "";
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
}

.copyright-text {
  margin: 0;
}

.copyright-link {
  color: var(--primary-text);
}

/* Modal */

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;

  display: none;

  background-color: var(--overlay);
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;

  display: none;

  transform: translate(-50%, -50%);
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;

  width: 25px;
  height: 25px;
  padding: 0;
  border: none;

  background-color: transparent;
  background-image: url("../img/icons/modal-close-cross-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

/* Feedback */

.modal-feedback {
  width: 477px;
  padding: 15px 24px 28px;
  border-radius: 6px;

  color: var(--secondary-text);

  background-color: var(--bg-secondary);
}

.feedback-desc {
  margin: 0 0 20px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.feedback-form-item {
  margin: 0 0 20px;
}

.feedback-form-input {
  min-width: 267px;
  padding: 11px 14px;
  border: 1px solid var(--input-border);
  border-radius: 4px;

  font-size: 16px;
  line-height: 20px;

  background-color: var(--bg-base);
}

.feedback-form-input:hover {
  padding: 10px 13px;
  border: 2px solid var(--input-border);
}

.feedback-form-input:focus {
  padding: 10px 13px;
  border: 2px solid var(--input-border-focus);

  outline: none;
}

.feedback-form-input::placeholder {
  color: var(--placeholder);
}

.feedback-form-textarea {
  width: 100%;
  height: 154px;

  resize: none;
}

.feedback-form-button {
  display: block;
  width: max-content;
  max-width: 100%;
  margin-left: auto;
  padding: 9px 24px;
}

/* Catalog page */

.page-catalog {
  display: block;

  background-image:
    linear-gradient(
      180deg,
      var(--bg-decor) 0,
      transparent 656px
    );
  background-repeat: no-repeat;
}

.page-catalog .container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100%;
}

.catalog-main {
  display: flex;
  flex-direction: column;
}

.page-title {
  margin: 0 0 28px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  margin: 17px 0 1px;
  padding: 0;

  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 22px;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  top: 6px;
  right: -15px;

  width: 6px;
  height: 6px;

  background-image: url("../img/icons/breadcrumbs-arrow-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  content: "";
}

.breadcrumbs-link {
  color: var(--primary-text);
}

.breadcrumbs-link-current {
  text-decoration: none;
}

/* Filters */

.filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filters-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 890px;
  margin-bottom: -14px;
}

.filters-radio-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 9px 15px;
  border-radius: 20px;

  list-style: none;
  background-color: var(--bg-decor);
}

.filter-radio-option:not(:last-child) {
  margin-right: 19px;
}

.filters-checkbox-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 9px 22px 9px 16px;
  border-radius: 20px;

  list-style: none;
  background-color: var(--bg-decor);
}

.filter-checkbox-option:not(:last-child) {
  margin-right: 25px;
}

.input-radio + label {
  position: relative;

  padding-left: 33px;

  cursor: pointer;
}

.input-radio + label::before {
  position: absolute;
  top: 50%;
  left: 0;

  width: 22px;
  height: 22px;
  border: 3px solid var(--bg-base);
  border-radius: 50%;

  transform: translateY(-50%);
  opacity: 0.8;

  content: "";
}

.input-radio:checked + label::after {
  position: absolute;
  top: 50%;
  left: 7px;

  width: 8px;
  height: 8px;
  border-radius: 50%;

  background-color: var(--bg-base);
  transform: translateY(-50%);
  opacity: 0.8;

  content: "";
}

.input-radio + label:hover::before,
.input-radio:checked + label:hover::after {
  opacity: 1;
}

.input-radio:disabled + label {
  opacity: 0.4;
}

.input-radio:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.input-checkbox + label {
  position: relative;

  padding-left: 30px;

  cursor: pointer;
}

.input-checkbox + label::before {
  position: absolute;
  top: 50%;
  left: 0;

  width: 24px;
  height: 20px;

  background-image: url("../img/icons/checkbox-off-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: translateY(-50%);
  opacity: 0.8;

  content: "";
}

.input-checkbox:checked + label::before {
  background-image: url("../img/icons/checkbox-on-icon.svg");
}

.input-checkbox:hover + label::before {
  opacity: 1;
}

.input-checkbox:disabled + label,
.input-checkbox:disabled + label::before {
  opacity: 0.4;
}

.input-checkbox:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filters-group {
  margin: 0 13px 14px 0;
  padding: 0;
  border: none;
}

.filters-group-small {
  width: 200px;
}

.filter-subject {
  display: block;
  margin: 0 0 7px 16px;

  font-size: 14px;
  line-height: 16px;
}

.filter-select-wrapper {
  position: relative;
}

.filter-select {
  min-width: 196px;
  padding: 9px 30px 9px 16px;
  border: none;
  border-radius: 20px;

  color: inherit;
  font: inherit;
  text-align: left;

  background-color: var(--bg-decor);
  cursor: pointer;

  appearance: none;
}

.filter-select:hover {
  color: var(--secondary-text);
}

.filter-select-arrow {
  position: absolute;
  top: 50%;
  right: 18px;

  transform: translateY(-50%);
}

.filter-select:hover + .filter-select-arrow path {
  fill: var(--secondary-text);
}

.filter-select option {
  color: var(--secondary-text);
  font-size: 14px;
  line-height: 16px;
}

.price-controls {
  display: flex;
  align-items: center;
}

.price-input {
  width: 25px;
  padding: 0;
  border: none;

  color: inherit;
  font: inherit;

  background-color: transparent;

  appearance: none;
}

.range-controls {
  position: relative;

  width: 218px;
  height: 36px;
  padding-top: 16px;
  padding-left: 21px;
  border-radius: 20px;

  background-color: var(--bg-decor);
}

.scale {
  width: 176px;
  height: 2px;

  background-color: var(--scale-bg);
}

.bar {
  width: 100px;
  height: 2px;
  margin-left: 22px;

  background-color: var(--bg-secondary);
}

.toggle {
  position: absolute;
  top: 7px;
  left: 0;

  width: 20px;
  height: 20px;
  border: 8px solid var(--bg-base);
  border-radius: 50%;

  background-color: var(--unimportant-text);
  cursor: pointer;
}

.toggle-min {
  left: 34px;
}

.toggle-max {
  left: 132px;
}

.toggle:hover {
  transform: scale(1.1);
}

.filters-submit {
  margin-top: 11px;
  padding: 6px 28px 8px;
  border: 2px solid var(--primary-text);
  border-radius: 20px;

  color: var(--primary-text);
  font: inherit;
  text-align: center;
  vertical-align: middle;

  background-color: var(--bg-decor);
  cursor: pointer;
}

.filters-submit:hover {
  color: var(--secondary-text);

  background-color: var(--bg-base);
}

.filters-submit:active {
  padding: 8px 30px 10px;
  border: none;

  box-shadow: inset 0 2px 1px var(--link-shadow);
}

/* Catalog list */

.page-catalog .product-list {
  margin-bottom: 80px;
}

/* Pagination */

.pagination {
  display: flex;
  align-content: center;
  margin-top: auto;
  margin-left: auto;
}

.pagination-control {
  width: 7px;

  background-repeat: no-repeat;
  background-position: center;
}

.pagination-control-disabled {
  opacity: 0.2;
}

.pagination-control-back {
  background-image: url("../img/icons/pagination-left-icon.svg");
}

.pagination-control-next {
  background-image: url("../img/icons/pagination-right-icon.svg");
}

.pagination-list {
  display: flex;
  align-content: center;
  margin: 0;
  padding: 0 19px;

  list-style: none;
}

.pagination-item:not(:last-child) {
  margin-right: 5px;
}

.pagination-link {
  padding: 3px 8px;
  border-radius: 50%;

  color: var(--primary-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;

  cursor: pointer;
}

.pagination-link-current {
  color: var(--secondary-text);

  background-color: var(--bg-base);
}

.pagination-link:hover {
  background-color: var(--bg-decor);
}

.pagination-link:active {
  color: var(--secondary-text);

  background-color: var(--bg-base);
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translate(-50%, -2000px);
  }

  70% {
    transform: translate(-50%, -55%);
  }

  90% {
    transform: translate(-50%, -45%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-48%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-52%, -50%);
  }
}
